<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer mode="side">
        <app-side-nav></app-side-nav>
    </mat-drawer>

    <div class="sidenav-content">
        <mat-toolbar color="primary" *ngIf="isAuthenticated">
            <button 
                mat-icon-button 
                class="icon" 
                (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>{{pageTitle}}</span>

            <span class="spacer"></span>

            <button mat-icon-button 
                class="icon favorite-icon"
                (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
        
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>