<mat-card>
    <mat-card-header>
        <button type="button" mat-raised-button color="primary" (click)="create()">Cadastrar</button>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="licensePlate">
                <th mat-header-cell *matHeaderCellDef> Placa </th>
                <td mat-cell *matCellDef="let element"> <code>{{element.licensePlate}}</code> </td>
            </ng-container>

            <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef> Modelo </th>
                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
            </ng-container>

            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Ano </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>

            <ng-container matColumnDef="fipePrice">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.fipePrice | currency: 'BRL'}} </td>
            </ng-container>

            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef> Data de cadastro </th>
                <td mat-cell *matCellDef="let element"> {{element.creationDate | date : 'short'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="display-flex">
                        <div class="button-container">
                            <button mat-mini-fab color="primary" (click)="update(element.vehicleId)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="button-container">
                            <button mat-mini-fab color="warn" (click)="delete(element.vehicleId)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>

    <mat-card-footer>
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="totalCount"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex">
        </mat-paginator>
    </mat-card-footer>
</mat-card>