<mat-card>
    <mat-card-content>
        <form [formGroup]="updateVehicleForm" (ngSubmit)="submitForm()">
            <mat-form-field class="full-width">
                <mat-label>Placa do veículo</mat-label>
        
                <input type="text"
                    matInput
                    formControlName="licensePlate"
                    placeholder="Digite a placa do veículo"
                    maxlength="9">
        
                <mat-error>
                    {{getErrorMessage('licensePlate')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Modelo do veículo</mat-label>
        
                <input type="text"
                    matInput
                    formControlName="model"
                    placeholder="Digite o modelo do veículo">

                <mat-error>
                    {{getErrorMessage('model')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Ano do veículo</mat-label>
        
                <input type="number"
                    matInput
                    formControlName="year"
                    placeholder="Digite o modelo do veículo">

                <mat-error>
                    {{getErrorMessage('year')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Valor da tabela FIPE do veículo</mat-label>
        
                <input type="text"
                    matInput
                    formControlName="fipePrice"
                    placeholder="Digite o valor da tabela FIPE do veículo">

                <mat-error>
                    {{getErrorMessage('fipePrice')}}
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-footer>
        <div class="display-flex">
            <button type="button" mat-raised-button color="secondary" (click)="cancelForm()">Cancelar</button>
            
            <button type="button" mat-raised-button color="primary"
                [disabled]="formIsInvalid()" (click)="submitForm()">Editar</button>
        </div>
    </mat-card-footer>
</mat-card>
